/* index.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  /** COLORS **/
  --main-color: #32659b;
  --buttons-color: #D4B272;
  --fonts-color: #1f1b1e;
  --header-footer-color: #32659b;
  ;
  --main-background-color: #fbf5e4;

  --faq-btn-width: 100px;
  --spacing: 15px;
  --svg: 20px;
  --svg-btn-p: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Navbar & Footer **/
.navbar-main {
  background-color: var(--header-footer-color);
  position: sticky;
  padding: 10px 0;
  text-align: right;
  width: 100%;
  top: 0;
  left: 0;
  right: 100px;
}

.navbar-main a{
  color: var(--main-background-color);
  text-decoration: none;
  margin-right: 20px;
}

.navbar-main a:hover{
  color: var(--buttons-color) !important;
}

.navbar-main a:visited {
  color: var(--main-background-color);
}

.navbar-main a.active {
  color: var(--fonts-color) !important;
}

.buttons {
  display: inline-block;
  padding: 8px 20px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.buttons:hover {
  background-color: var(--fonts-color);
}

.buttons-svg {
  line-height: 0;
  padding: var(--svg-btn-p);
  width: calc( var(--svg-btn-p) * 2 + var(--svg));
  height: calc( var(--svg-btn-p) * 2 + var(--svg));

  & svg {
    width: var(--svg);
    height: var(--svg);
  }
}


/** Form **/
.formWrapper {
  padding: 0 var(--spacing);
}

.formNotice {
  display: flex;
  justify-content: center;
  margin: var(--spacing);
}

.formContainer {
  width: 500px;
  margin: auto;
}

.formInput {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}
textarea.formInput{
  min-height: 200px;
}

.formPublishBlock {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

.formLabel {
  margin-right: 5px;
}

.formLabel:not(:first-child) {
  padding-top: 1.5rem;
}

#publishStatus {
  width: 18px;
  height: 18px;
}

.formError {
  position: relative;
  height: 0;
  color: red;
}

.formError > span {
  position: absolute;
  top: -0.5rem;
}

.formBtn {
  border: none;
  background-color: var(--header-footer-color);
  color: white;
  border-radius: 5px;
  padding: var(--spacing) 30px;
  position: relative;
  margin-top: var(--spacing);

}
.formBtnPlace {
  display: flex;
  justify-content: center;
}

.formBtn:hover{
  background-color: var(--main-branding-color);
  color: var(--main-background-color);
}


.fullArticle{
  padding: 20px;
}

.buttonsBlock {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: top ;
}


.articleBody {
  color: #666;
  font-size: 0.85em;
  margin-bottom: 10px;
}

/*! ArticleList */
.articleListWrapper {
  padding: 0 20px;
}

.filter_checkbox {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  & label {
    margin-right: 5px;
  }

  & input {
    width: 18px;
    height: 18px;
  }
}

.articleCenter {
  font-size: large;
  font-weight: 800;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 15px;
}

.filterButton {
  margin-top: 15px;
  width: 170px;
}
